# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "j5GvmBw1eNLW2QNcvtrgt3awGh5DmaR6OWhfjyVZ2hNc5p0ANoUrrg5M7HPcKr7zw7uSz2hYt5d00q/+va83EifwAYppLNyRpURme7B/4+UdS+uAzOA812X0YZVykd1+Sp5WtEvLLyJcHkpWKCuOPk1p5Moxu7/gN76sJ2w4NUxk5EjWEz9ov1/BGgtHJCd/A8w4rulkckvBddJQC3IYl1ewhckCvZ4n7Fmj2rrat6XQ0yddYnJ2CPwqgSzamc/68RP/4YiwK7LiGccNlzICka/eyAgskzgtgnp34a3eIhaOSUnBdW5MS4qtMyIQnDY4inrY7Lv/8lLvvBzBUICKL0ctDn0O17GYn+f13Y6QfMNUcEiGyMSGy0QECAMlepd1LorertVXjndRipgYLf8vIjZ+3msx1EsXKOwDKhjz7Xp5t+DeXwCdQDPQnwBpa4nj1TcIYy6W5/d92RNtuSBPkWKXKIsKGYAnIvdIaQpV8/J8P9ITPf/J5F8LoJwOku6cFmK+gI/eMNuZ1EOTWNLbM/KA2MzkbjJUKGO9xN8ZrqV3fsspO44rRYs4OVMJvCsqX1QLRSX03cI1Ak+jRIKVIPQJ5WSVyQRIhHJUi4kC3yBRoz8YyyR+HNiV4NIdVGme/2IAALzqBDDn4kIJH9Bw+XVViv01chhRsJTVYt8lLbk="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-ci-setup=1
      source run_conda_forge_build_setup

script:
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml

  - upload_or_check_non_existence ./recipe conda-forge --channel=main -m ./.ci_support/${CONFIG}.yaml
